* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(0, 0, 0);
}
#total-book {
  color: #fff;
}
.book {
  text-align: center;
  color: #fff;
  padding: 10px 20px;
  margin: 5px 0;
  background-color: rgba(36, 43, 34, 0.376);
  border-radius: 5px;
  border: 1px solid rgb(12, 100, 59);
}

.book-img {
  overflow: hidden;
  text-align: center;
  margin-bottom: 10px;
}
.book img {
  transition: all 0.5s;

  width: 35%;
  margin-bottom: 10px;
}
.book:hover.book img {
  transform: scale(1.5);
}
.book p {
  font-size: 16px;

  font-weight: 300;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#search-result {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  margin-bottom: 20px;
}

#spinner {
  margin-top: 50px;
  margin-left: 45%;
  height: 100px;
  width: 100px;
  display: none;
}
@media only screen and (max-width: 720px) {
  #search-result {
    grid-template-columns: auto;
  }
}
